* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.8rem;
}

figure {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 100px;
  color: #7C6A0A;
  padding: 15px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  text-decoration: none;
  color: #7C6A0A;
}
.navbar__logo h1 {
  font-size: 2rem;
  font-weight: 400;
}
.navbar__menu {
  display: flex;
  gap: 15px;
  margin: 0;
}
.navbar__menu-item {
  list-style: none;
}
.navbar__menu-link {
  text-decoration: none;
}
.navbar__menu-icon {
  color: #7C6A0A;
}
.navbar .menu__mobile {
  display: none;
}

main {
  padding: 0 60px;
}

article {
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article .main__impact-section {
  color: #7C6A0A;
  gap: 25px;
  width: 50%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
article .main__impact-section-title {
  font-size: 5.2rem;
  margin: 0;
  padding: 0;
}
article .main__impact-section p {
  width: 70%;
  line-height: 3.5rem;
}
article .main__impact-section button {
  background: none;
  border-style: none;
}
article .main__impact-section button {
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 15px 40px;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s ease;
}
article .main__impact-section button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
article .main__impact-section-image {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
article .main__impact-section-image img {
  border-radius: 20px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 25vw;
}

section {
  width: 100%;
  height: auto;
}
section h2 {
  color: #7C6A0A;
  font-size: 3.5rem;
  padding-bottom: 60px;
}

.main__product-category.healthcare, .main__product-category.info-section__about-us, .main__product-category.furniture {
  padding-bottom: 60px;
}
.main__product-category.healthcare h2, .main__product-category.info-section__about-us h2, .main__product-category.furniture h2 {
  font-weight: 300;
}
.main__product-category.healthcare .card__section, .main__product-category.info-section__about-us .card__section, .main__product-category.furniture .card__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
.main__product-category.healthcare .card__section-product, .main__product-category.info-section__about-us .card__section-product, .main__product-category.furniture .card__section-product {
  background-color: #FFDAC6;
  border-radius: 8px;
  color: #7C6A0A;
  height: 502px;
  padding: 20px;
  width: 324px;
}
.main__product-category.healthcare .card__section-product-icon, .main__product-category.info-section__about-us .card__section-product-icon, .main__product-category.furniture .card__section-product-icon {
  width: 100%;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main__product-category.healthcare .card__section-product-icon svg, .main__product-category.info-section__about-us .card__section-product-icon svg, .main__product-category.furniture .card__section-product-icon svg {
  width: 24px;
  height: 24px;
}
.main__product-category.healthcare .card__section-product-icon svg path, .main__product-category.info-section__about-us .card__section-product-icon svg path, .main__product-category.furniture .card__section-product-icon svg path {
  stroke: #7C6A0A;
}
.main__product-category.healthcare .card__section-product-image, .main__product-category.info-section__about-us .card__section-product-image, .main__product-category.furniture .card__section-product-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__product-category.healthcare .card__section-product-image img, .main__product-category.info-section__about-us .card__section-product-image img, .main__product-category.furniture .card__section-product-image img {
  border-radius: 6px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.main__product-category.healthcare .card__section-product p, .main__product-category.info-section__about-us .card__section-product p, .main__product-category.furniture .card__section-product p {
  font-size: 1.5rem;
}
.main__product-category.furniture .card__section-product {
  background-color: #BABD8D;
  color: white;
}
.main__product-category.furniture .card__section-product svg path {
  stroke: white;
}

.info-section__about-us h2 {
  font-weight: bold;
}
.info-section__content {
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.info-section__content .earth, .info-section__content .innovation {
  color: #E86424;
  gap: 40px;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-section__content .earth img, .info-section__content .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.info-section__content .earth p, .info-section__content .innovation p {
  text-align: center;
  font-size: 1.8rem;
}
.info-section__gallery h2 {
  font-weight: bold;
}
.info-section__gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-section__gallery-images img {
  aspect-ratio: 1/1;
  border-radius: 16px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 0.3s;
  width: 30%;
}
.info-section__gallery-images img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.info-section__location {
  color: #E86424;
  padding-bottom: 60px;
}
.info-section__location h2 {
  padding: 60px 0;
}
.info-section__location .map {
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-section__location .map img {
  width: 100%;
  border-radius: 16px;
}

.footer {
  background-color: #FA9500;
  color: white;
  height: auto;
  width: 100%;
  padding: 40px;
}
.footer__logo {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}
.footer__menu {
  list-style: none;
  padding-left: 0;
}
.footer__menu li {
  line-height: 3rem;
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer__social-media img {
  cursor: pointer;
  width: 32px;
}

@media (max-width: 992px) {
  article .main__impact-section p {
    width: 95%;
  }
  article .main__impact-section-image img {
    width: 28vw;
  }
  .main__product-category.healthcare .card__section, .main__product-category.furniture .card__section, .main__product-category.info-section__about-us .card__section {
    gap: 80px;
  }
  .info-section__content {
    padding: 60px 0;
  }
  .info-section__content .earth, .info-section__content .innovation {
    gap: 24px;
    width: 40vw;
  }
}
@media (max-width: 847px) {
  .navbar {
    padding: 15px 26px;
    height: 70px;
  }
  .navbar__menu {
    display: none;
  }
  .navbar .menu__mobile {
    display: block;
  }
  main {
    padding: 0 26px;
  }
  article {
    margin: 20px 0 60px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  article .main__impact-section {
    width: 100%;
  }
  article .main__impact-section p {
    width: 100%;
  }
  article .main__impact-section-image {
    width: 100%;
  }
  article .main__impact-section-image img {
    width: 100%;
    height: 650px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  article .main__impact-section .button__container {
    display: flex;
    justify-content: center;
  }
  .main__product-category.healthcare .card__section, .main__product-category.furniture .card__section, .main__product-category.info-section__about-us .card__section {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 28px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
  .main__product-category.healthcare .card__section-product, .main__product-category.furniture .card__section-product, .main__product-category.info-section__about-us .card__section-product {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 300px;
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .info-section__content {
    flex-direction: column;
    gap: 58px;
    padding: 0 0 60px 0;
  }
  .info-section__content .earth, .info-section__content .innovation {
    flex-direction: column;
  }
  .info-section__content .earth img, .info-section__content .innovation img {
    width: 80px;
  }
  .info-section__gallery-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .info-section__gallery-images img {
    width: 100%;
  }
  .info-section__location .map {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .info-section__location .map img {
    aspect-ratio: 1/1;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 576px) {
  article .main__impact-section-title {
    font-size: 3rem;
  }
  article .main__impact-section p {
    margin-top: 0;
  }
  article .main__impact-section-image img {
    height: 362px;
  }
  section h2 {
    font-size: 2.4rem;
    margin-bottom: 0;
  }
  .main__product-category.healthcare, .main__product-category.furniture, .main__product-category.info-section__about-us {
    padding-bottom: 60px;
  }
  .main__product-category.healthcare h2, .main__product-category.furniture h2, .main__product-category.info-section__about-us h2 {
    padding-bottom: 30px;
  }
  .main__product-category.healthcare .card__section-product, .main__product-category.furniture .card__section-product, .main__product-category.info-section__about-us .card__section-product {
    height: 440px;
    min-width: 220px;
    max-width: 220px;
  }
  .main__product-category.healthcare .card__section-product-image img, .main__product-category.furniture .card__section-product-image img, .main__product-category.info-section__about-us .card__section-product-image img {
    height: 200px;
  }
  .info-section__content .earth, .info-section__content .innovation {
    width: 60vw;
  }
}/*# sourceMappingURL=main.css.map */